<footer class="bg-light mt-5 pt-5 pb-3">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-4 mb-3">
        <h3 class="h5 fw-bold">{{ appName }}</h3>
        <p class="text-muted">
          Simplifying classroom management for educational institutions
        </p>
      </div>
      <div class="col-md-4 mb-3">
        <h3 class="h5 fw-bold">Quick Links</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a routerLink="/" class="nav-link px-0 text-muted">Features</a>
          </li>
          <li class="nav-item">
            <a routerLink="/about" class="nav-link px-0 text-muted">About Us</a>
          </li>
          <li class="nav-item">
            <a routerLink="/contact" class="nav-link px-0 text-muted"
              >Contact</a
            >
          </li>
          <li class="nav-item">
            <a routerLink="/help" class="nav-link px-0 text-muted"
              >Help & Support</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h3 class="h5 fw-bold">Contact Us</h3>
        <p class="mb-1 text-muted">
          <i class="bi bi-envelope me-2"></i>schedule&#64;classroom.now
        </p>
        <p class="mb-1 text-muted">
          <i class="bi bi-telephone me-2"></i>(+63) ### ### ####
        </p>
      </div>
    </div>
    <hr class="my-4" />
    <p class="text-center text-muted">
      &copy; {{ currentYear }} {{ appName }}. Code licensed under
      <a
        href="https://opensource.org/license/mit"
        target="_blank"
        class="text-muted"
        >MIT License</a
      >.
    </p>
  </div>
</footer>
