.table {
  font-size: 0.9rem;
}

.nav-pills {
  .nav-link {
    cursor: pointer;
    
    &.active {
      background-color: #0d6efd;
    }
  }
}

.table-responsive {
  max-height: 600px;
  overflow-y: auto;
}